@import "tailwindcss";

button{
  cursor: pointer !important;
}
@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  animation: ticker 25s linear infinite;
}
.sidebar::-webkit-scrollbar {
  width: 3px;
}
 
.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.sidebar::-webkit-scrollbar-thumb {
  background-color: #9d5d15;
  outline: 1px solid #9d5d15;
}
.Xsidebar::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
 
.Xsidebar::-webkit-scrollbar-track {
  box-shadow: none;
}
 
.Xsidebar::-webkit-scrollbar-thumb {
  background-color: #d2ae87;
  outline: 1px solid #ffffff;
}